{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}

        {# Avoid hardcode links like this #}     
        {# <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>  #}

        {# Using named urls like 'polls:detail', where polls is define in the app_name of urls.py #}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li> 

        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}